<!DOCTYPE html>
<html ng-app="final_project">
<head>
  <title>Flash fiction</title>

  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/models/Author.js"></script>
  <script src="/js/models/Story.js"></script>
  <script src="/js/models/Comment.js"></script>
  <script src="/js/controllers/authors.js"></script>
  <script src="/js/controllers/stories.js"></script>
  <script src="/js/controllers/comments.js"></script>
  <script src="/js/services/token.js"></script>
  <script src="/js/services/authInterceptor.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div class="modalContainer" 
  ng-style="{'background-image':'url(https://www.google.com/images/srpr/logo4w.png)'}"></div>


<body ng-app="final_project" ng-controller="authorsController as authors">
  <header>
    <h1>Flash fiction</h1>

    <nav class="tabs">
      <a ng-if="!authors.isLoggedIn()" href="#login">Log in</a>
      <a ng-if="!authors.isLoggedIn()" href="#register">Register</a>
      <a ng-if="authors.isLoggedIn()" ui-sref-active="active" ui-sref="authorprofile({ authorId: authors.currentAuthor._id })">My Profile</a>
      <a ng-if="authors.isLoggedIn()" ng-click="authors.logout()">Log Out</a>
      <a ng-if="!authors.isLoggedIn()" ui-sref="storyIndex">Browse Stories</a>
    </nav>
  </header>

  <main ui-view class="container">
  </main>

</body>
</html>