body{
  background-color: silver;
  font-family: 'Roboto', sans-serif;
}

#storyRead{
  height: 70vh;
  width: 50vw;
  margin-left: 10px;
}

#storyWrite{
  height: 70vh;
  width: 70vh;
  margin-left: 10px;
}

.myStories{
  height: 40px;
  width: 70vw;
  background-color: white;
  border: 1px solid black;
}

ul{
  list-style-type: none;
  }

.avatar-frame {border: 2px solid #c7b89e;
        width: 125px;
        height: 125px;
        border-radius: 50%;
  }
