body{
  background-color: #e0e0e0;
  color: #4D1D0D;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#storyRead{
  height: 70vh;
  width: 50vw;
  border: 1px solid #c7b89e;
}

#storyShow{
  width: 45vw;
  padding: 5px 5px 5px 5px;
}

#storyWrite{
  height: 70vh;
  width: 70vh;
  border: 1px solid #c7b89e;
}
#storyTitle{
  min-height: 20px;
  width: 35vw;
  border: 1px solid #c7b89e;
}

#commentBar{
  min-height: 30px;
  width: 45vw;
  margin-bottom: 2px;
  margin-left: 0px;
  background-color: white;
  border: 1px solid #c7b89e;
  text-align: left;
  -webkit-padding-start: 0;

}

.container{
  width: 100vw;
}

#home{
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 0.9;

}

/*#storyEdit{
  margin-left: 30vw;
}*/

#commentWrite{
  height: 30px;
  width: 70vw;
  border: 1px solid #c7b89e;
}

.message-panel{
  width: 20vw}

.myStories{
  min-height: 40px;
  width: 50vw;
  background-color: white;
  border: 1px solid #c7b89e;
  padding: 5px 5px 5px 5px;
}

.tabs{
  padding: 5px 5px 5px 5px;
}


ul{
  list-style-type: none;
  }

.avatar-frame {border: 2px solid #c7b89e;
        width: 125px;
        height: 125px;
        border-radius: 50%;
  }
