body{
  background-color: #cdc9c9;
  color: #4D1D0D;
  font-family: 'Roboto', sans-serif;
}

#storyRead{
  height: 70vh;
  width: 50vw;
}

#storyWrite{
  height: 70vh;
  width: 70vh;
}
#storyTitle{
  height: 30px;
  width: 35vw;
}

#commentBar{
  height: 30px;
  width: 30vw;
}

/*#storyEdit{
  margin-left: 30vw;
}*/

#commentWrite{
  height: 30px;
  width: 70vw;
}

.message-panel{
  width: 20vw}

.myStories{
  height: 40px;
  width: 70vw;
  background-color: white;
  border: 1px solid #c7b89e;
}

ul{
  list-style-type: none;
  }

.avatar-frame {border: 2px solid #c7b89e;
        width: 125px;
        height: 125px;
        border-radius: 50%;
  }
