<h2>Welcome back {{ authors.currentAuthor.username }}</h2>
<h4>{{authors.currentAuthor.bio}}</h4>


<section>
  <div class="container col-md-4">
    <div class="card">
      <img class="avatar-frame" ng-src="{{ authors.currentAuthor.avatar }}" alt="Card image cap">
    </div>

    <nav class="tabs">
      <a ui-sref-active="active" ui-sref="storyNew">New Story</a>
      <a ui-sref-active="active" ui-sref="storyIndex">Browse Stories</a>
    </nav>

    <div class="message">
      {{ authors.message }}
    </div>

    <ul id="userStories" ng-controller="StoriesController as stories">
      <li class="myStories" ng-repeat="story in authors.currentAuthor.stories | orderBy: '-_id'" id="{{story._id}}">
       
        Title: {{ story.title }}<br>
        Genre: {{ story.genre }}<a ui-sref-active="active" ui-sref="storyEdit({ id: story._id })" id="{{ story._id }}">Edit </a>  | 
        <a ng-click="stories.deleteStory(story)">Delete</a>
  
          <!-- <span ng-if="checked" class="animate-if">
            This is removed when the checkbox is unchecked.
          </span>     -->
     </li>
    </ul>
  </div>
</section>
