<section id="login">
      <h3>Login</h3>
      <form ng-submit="authors.login()" class="form-horizontal" novalidate>
        <label for="email" class="control-label">Email</label>
        <input type="text" name="email" placeholder="Email" ng-model="authors.currentAuthor.email">

        <label for="password" class="control-label">Password</label>
        <input type="password" name="password" placeholder="Password" ng-model="authors.currentAuthor.password">

        <input type="submit" value="Login">
      </form>
    </section>