<section id="register">
      <form ng-submit="authors.register()" novalidate>
        <label for="username">Username</label>
        <input type="text" id="formField" name="username" placeholder="Username" ng-model="authors.currentAuthor.username">
        
        <label for="email">Email</label>
        <input type="email" id="formField" name="email" placeholder="E-mail" ng-model="authors.currentAuthor.email">
        
        <label for="password">Password</label>
        <input type="password" id="formField" name="password" placeholder="Password" ng-model="authors.currentAuthor.password">
        
        <label for="passwordConfirmation">
        Password Confirmation</label>
        <input type="password" id="formField" name="passwordConfirmation"
        placeholder="Re-enter password" ng-model="authors.currentAuthor.passwordConfirmation">

        <label for="bio">
        Tagline</label>
        <input type="text" id="formField" name="bio"
        placeholder="Your tagline" ng-model="authors.currentAuthor.bio">


        <input type="submit" class="success" value="Register">
      </form>
    </section>