<section>
  <h1>{{ stories.currentStory.title }}</h1>

  <p>{{ stories.currentStory.content }}</p>

  
</section>
<a ui-sref-active="active" ui-sref="storyIndex">Browse Stories</a>


<section ng-if="authors.isLoggedIn()" ng-controller="commentsController as comments">
  <textarea id="commentWrite" ng-model="comments.currentStory.content"></textarea>
</section>
  <!-- <button class="btn btn-primary">Comment here</button> -->

  <!-- <div ng-show="main.hasSetUsername">
    <div id="message-panel">
      <ul>
        <li ng-repeat="message in main.messages track by $index" ng-class="{ me: message.username === main.username }">
        <span class="message">
        {{ message.text }}</span>
        <span class="username">
        {{ message.username }}</span>
      </li>
    </ul>
  </div>

  <form ng-submit="main.sendMessage()" class="form-inline">
    <div class="form-group">
      <input ng-model="main.message" class="form-control">
    </div>

    <button class="btn btn-primary">Send</button>
 -->    