<section>
  <h1>{{ stories.currentStory.title }}</h1>

  <p id="storyShow">{{ stories.currentStory.content }}</p>

  
</section>
<section>
  <h3>Comments</h3>
  <ul>
    <li id="commentBar" ng-repeat="comment in stories.currentStory.comments">Comment: {{ comment.content }}</li>
  </ul>
</section>

<a ui-sref-active="active" ui-sref="storyIndex">Browse Stories</a>


<section ng-if="authors.isLoggedIn()">

  <form ng-submit="stories.addComment()">
    <textarea id="commentWrite" placeholder="add comment" ng-model="stories.newComment.content"></textarea>
    <input type="submit" class="success" value="Add Comment">
  </form>

</section>