<section>

  <select id="select" class="stories" placeholder="genre" ng-model="stories.currentStory.genre">
    <option value="comedy">Comedy</option>
    <option value="tragedy">Tragedy</option>
    <option value="thriller">Thriller</option>
    <option value="crime">Crime</option>
    <option value="romance">Romance</option>
    <option value="non-fiction">Non-fiction</option>
  </select>

  <textarea id="storyTitle" class="stories"ng-model="stories.currentStory.title"></textarea>

  <textarea id="storyWrite" class="stories" ng-model="stories.currentStory.content"></textarea>
</section>
<section>
  <h6>Comments</h6>
  <ul>
    <li id="commentBar" ng-repeat="comment in stories.currentStory.comments"><h6>{{ comment.content }}</h6></li>
  </ul>
</section>
