<h2 class="myStories" ng-show="author in author.authors">{{ story.title}} by {{story.author}}</h1>

<textarea id="storyRead"
  ng-model="string"
  [name="string"]
  [required="string"]
  [ng-required="string"]
  [ng-minlength="number"]
  [ng-maxlength="number"]
  [ng-pattern="string"]
  [ng-change="string"]
  [ng-trim="boolean"]>
...
</textarea>

  <div ng-hide="main.hasSetUsername">
    <form ng-submit="main.setUsername()">
      <div class="form-group">
        <input ng-model="main.username" class="form-control" placeholder="Username">
      </div>

  <button class="btn btn-primary">Comment here</button>
  </form>
  </div>

  <div ng-show="main.hasSetUsername">
    <div id="message-panel">
      <ul>
        <li ng-repeat="message in main.messages track by $index" ng-class="{ me: message.username === main.username }">
        <span class="message">
        {{ message.text }}</span>
        <span class="username">
        {{ message.username }}</span>
      </li>
    </ul>
  </div>

  <form ng-submit="main.sendMessage()" class="form-inline">
    <div class="form-group">
      <input ng-model="main.message" class="form-control">
    </div>

    <button class="btn btn-primary">Send</button>

  </form>
</div>
      